$main-background-color: #333;
$lighten-background-color: lighten(#333, 10%);
$darken-background-color: darken(#333, 10%);

$main-strava-color: #fc4c02;
$darken-strava-color: darken(#fc4c02, 10%);

$main-text-color: #ddd;
$lighten-text-color: lighten(#ddd, 10%);
